header.header {
    background-color: #FFF;
    padding: 0px 15px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);

    h1 {
        font-size: 1.8em;
        svg {
            float: left;
        }
        p {
            line-height: 1.5;
        }
    }
}